@(implicit request: RequestHeader) (implicit lang: Lang)

@main(Messages("application.name")) {
    <script type="text/javascript">
        $(function(){
            var ws = new WebSocket("@routes.Application.statusFeed.webSocketURL()")

            ws.onmessage = function(msg){
                $('#load-average').text(msg.data);
                // ws.send("Just received " + new Date() +"--" + msg.data);
            }
        });
    </script>

    <h1> System Load Average: <span id="load-average"></span></h1>
}
